<h1  align="center">Creditos</h1>
	
<div class="container">
	<div align= "center">	
    	<div class="col-md-4 mb-1"></div>		
      		<div class="card"style="width:22rem;" >
				<p>Deymer de Jesús Hoyos Pérez</p>
				<p>Marinela Utria Olivo</p>
				<p>Juliana Correa Ortiz</p>
			</div>
		</div>
	</div>
</div>
