<h1 align="center">Conctacto</h1>

<div class="container">
  <div align= "center">	
    <div class="col-md-4 mb-1"></div>		
      <div class="card"style="width:22rem;" >
        <p align="center">
          <form>
            Nombre:<br>
            <input type="text" name="firstname" value="">
            <br>
            Apellidos:<br>
            <input type="text" name="lastname" value="">
            <br>
            Celular:<br>
            <input type="text" value="">
            <br>
            Correo:<br>
            <input type="text"  value="">
            <br>
            Mensaje:<br>
            <textarea rows="4" cols="30"></textarea
            <br><br><br>
            <input type="submit" value="Enviar", class="btn btn-info btn-sm"  >
          </form>
        </p>
      </div>
    </div>
  </div>
</div>