<h1 align="center">Editar Servicio</h1>

<%= render 'form', servicio: @servicio %>
</br>
<div align="center">
  <%= link_to 'Mostrar', @servicio,class:"btn btn-warning" %> |
  <%= link_to 'Atras', servicios_path,class:"btn btn-dark" %>
</div>
