<h1 align="center">Editar Tipo De Servicio</h1>

<%= render 'form', tipo_de_servicio: @tipo_de_servicio %>
</br>
<div align="center">
  <%= link_to 'Mostrar', @tipo_de_servicio,class:"btn btn-warning" %> |
  <%= link_to 'Atras', tipo_de_servicios_path,class:"btn btn-dark" %>
</div>
