<h1 align="center"> Tipo De Servicio</h1>

<%= render 'form', tipo_de_servicio: @tipo_de_servicio %>
</br>
<div align="center">
  <%= link_to 'Atras', tipo_de_servicios_path, class:"btn btn-dark" %>
</div>
