<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_de_servicio.nombre %>
</p>

<%= link_to 'Editar', edit_tipo_de_servicio_path(@tipo_de_servicio),class:"btn btn-warning" %> |
<%= link_to 'Atras', tipo_de_servicios_path,class:"btn btn-dark"%>
