<p id="notice"><%= notice %></p>
<div align="center">	
  <div class="col-md-4 mb-1"></div>	
    <div class="card"style="width:20rem;" >
      <div class="card-body">	
        <p>
          <strong>Nombre:</strong>
          <%= @tipo_de_servicio.nombre %>
        </p>
      </div>
    </div>
  </div>
</div>
</br>
<div align="center">
  <%= link_to 'Editar', edit_tipo_de_servicio_path(@tipo_de_servicio),class:"btn btn-warning" %> |
  <%= link_to 'Atras', tipo_de_servicios_path,class:"btn btn-dark"%>
</div>