<h1 align="center">Editar Marca</h1>

<%= render 'form', marca: @marca %>
<br/>
<div align="center">
  <%= link_to 'Mostrar', @marca,class:"btn btn-warning" %> |
  <%= link_to 'Atras', marcas_path,class:"btn btn-dark" %>
</div>
