<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @marca.nombre %>
</p>

<%= link_to 'Editar', edit_marca_path(@marca),class:"btn btn-warning" %> |
<%= link_to 'Atras', marcas_path,class:"btn btn-dark" %>
