<h1 align="center">Editar Empleado</h1>

<%= render 'form', empleado: @empleado %>
<div align="center">
    <%= link_to 'Mostrar', @empleado , class:"btn btn-warning"%> |
    <%= link_to 'Atras', empleados_path, class:"btn btn-dark " %>
</div>