<h1>Editar contacto</h1>

<%= render 'form', persona: @persona %>
<div align="center">
    <%= link_to 'Mostrar', @persona, class:"btn btn-warning" %> |
    <%= link_to 'Atras', personas_path, class:"btn btn-dark " %>
</div>