<h1>Editar Persona</h1>

<%= render 'form', persona: @persona %>
<div class="row">
    <%= link_to 'Mostrar', @persona, class:"btn btn-warning" %> |
    <%= link_to 'Atras', personas_path, class:"btn btn-dark " %>
</div>