<h1 align="center">Editar Producto</h1>

<%= render 'form', producto: @producto %>
<br/>
<div align="center">
  <%= link_to 'Mostrar', @producto,class:"btn btn-warning" %> |
  <%= link_to 'Atras', productos_path,class:"btn btn-dark" %>
</div>
