<h1>Editar cita</h1>

<%= render 'form', citum: @citum %>
<div class="row">
    <%= link_to 'Mostrar', @citum , class:"btn btn-warning" %> |
    <%= link_to 'Atras', cita_path, class:"btn btn-dark " %>
</div>