<h1 align="center">Editar cita</h1>

<%= render 'form', citum: @citum %>
</br>
<div align="center">
    <%= link_to 'Mostrar', @citum , class:"btn btn-warning" %> |
    <%= link_to 'Atras', cita_path, class:"btn btn-dark " %>
</div>