// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.info-container{
     width: 100%;
     background: #f2f2f2;
     font-family: Raleway;
 }

 .info-main{
     width: 95%;
     max-width: 1000%;
     margin: auto;
     text-align: center;
     padding: 30px 200px;
 }

.info-main h3{
    color:#00C6EE;
    font-size: 40px;
    text-align: center;
}

.info-main p{
    padding: 20px 0;
}

.info-main a{
    display: inline-block;
    background: #BF0026;
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;   
}

footer{
  width: 100%;
  font-family: Raleway;
}

.footer-conteiner{
  width: 100%;
  background: #272727;
  color: #fff;
}

.footer-main{
  width: 98%;
  max-width: 1000px;
  margin: auto;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-main .footer-columna{
  width: calc(100% /3);
  text-align: justify;

}

.footer-main .footer-columna:nth-child(2){
  padding: 0 20px;
}

.footer-main .footer-columna h3{
  font-size: 32px;
  color: #00C6EE;
  margin-bottom: 20px;
}

.footer-main .footer-columna input[type="email"]{
  border: none;
  width: 100px;
  border: 1px solid #00C6EE;
  font-size: 14px;
  padding: 10px;
  font-family: Raleway;
}

.footer-main .footer-columna input[type="submit"]{
  border: none;
  background: #00C6EE;
  color: #fff;
  padding: 10px 40px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  font-family: Raleway;
}

.footer-main .footer-columna span p{
  display: incline-block;
  margin-left: 5px;
  margin-bottom: 15px;
  font-family: Raleway;
}

.footer-copy-redes{
  width: 100%;
  background: #000;
  border-top: 3px solid #fff;

}

.main-copy-redes{
  width: 98%;
  max-width: 1000px;
  padding: 15px 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;

}

.main-copy-redes .footer-copy{
  width: 70%;
  color: #fff;
}

.main-copy-redes .footer-redes{
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-copy-redes .footer-redes a{
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #fff;
  color: #000;
  text-align: center;
}



.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  }
 
  .fa:hover {
    opacity: 0.7;
  }
 
  