<h1 align="center">Editar Impuesto</h1>
<div class="container" >
  <div class= "row">	
    <div class="col-md-4 mb-1"></div>	
    <div class="card"style="width:22rem;" >
      <div class="card-body">	
        <%= render 'form', impuesto: @impuesto %>
     <div class="row">
       
    </div>
    </div>
    </div>
  </div>
</div>

<br/>
<div class="col-md-12 mb-1" align="center"> 
<%= link_to 'Mostrar', @impuesto, class:"btn btn-warning" %> |
<%= link_to 'Atras', impuestos_path, class:"btn btn-dark " %>
</div>