<footer >
	<div class="info-container">
	 	<div class="info-main">
		    <h3>CONTACTENOS</h3>
		    <p>Un espacio dedicado a hombres, mujeres y niños donde podrán acceder
		    a los más altos estándares de belleza y calidad, con las últimas tendencias mundiales.</p>
		    <a href="#">Mas Informacion</a> 
		</div>
		<div class="footer-conteiner">
	    	<div class="footer-main">
	     		<div class="footer-columna">
	        	<h3>Suscribete</h3>	        	
	      		</br>	        	
	        	<%= link_to 'Suscribete', edit_user_registration_path, :class=>'nav-link',style: 'color:white;',class:"btn btn-primary "  %>
	      	</div>
	      	<div class="footer-columna">
	        	<h3>Direccion</h3>
	        	<span class="fas fa-map-marker" style="font-size:18px"><p>Cr 55D #44-15</p> </span>
	        	<span class="fas fa-phone" style="font-size:18px"><p>+57 3735256</p></span>
	        	<span class="fas fa-envelope" style="font-size:18px"><p>info@PeinArte.com</p></span>
	      	</div>
	      	<div class="footer-columna">
	        	<h2>Sobre Nosotros</h2>
	        	<p>Atendido por expertos con los mejores productos del mercado.</p>
	        	<p>• VISÍTENOS HOY •</p>       
	      	</div>      
	    </div>
  	</div>
  	<div class="footer-copy-redes">
    	<div class="main-copy-redes" align="center">
    		<div class="footer-copy">
	     		© copyright SENA - Centro de Formacion en Diseño, Confeccion y Moda - 2018.
	   		</div>
	   		<div class="footer-redes"style="text-align: center;">			
				<a href="#" class="fab fa-facebook" style="font-size:36px"></a>
	        	<a href="#" class="fab fa-twitter" style="font-size:36px"></a>
	        	<a href="#" class="fab fa-instagram" style="font-size:36px"></a>       
			</div>
    	</div>
    	
  	</div>  
</footer>
