<footer class="footer text-center">
   <div class="container blockquote-footer">
     <span class="text-muted">© copyright SENA - Centro de Formacion en Diseño, Confeccion y Moda - 2018.</span>
   </div>
</footer>
